---
import BaseLayout from '../components/layout/BaseLayout.astro';
import Splash from '../components/home/Splash.astro';
import RouteHint from '../components/home/RouteHint.astro';
import Hero from '../components/home/Hero.astro';
import LiveStrip from '../components/home/LiveStrip.astro';
import ResearchSection from '../components/home/ResearchSection.astro';
import WritingSection from '../components/home/WritingSection.astro';
import ProofWall from '../components/home/ProofWall.astro';
import Coda from '../components/Coda.astro';
import { home } from '../lib/data';
---

<BaseLayout title="Ender's Blog" description={home.hero.body} noindex>
  <Splash />
  <RouteHint />
  <main>
    <Hero />
    <div class="reveal" style="--reveal-i: 0;">
      <LiveStrip />
    </div>
    <ResearchSection />
    <WritingSection />
    <ProofWall />
    <Coda lang="en" revealIndex={4} screen="coda" />
  </main>
</BaseLayout>
